body {
    margin: 0;
}
.head_container {
    background-color:#4EA0FF ;
    background-image: url(../img/pattern.png);
    background-size: 17%;
    height: 80px;
}
#logo {
   width: 10%;
  margin: 25px;
}